<footer class="text-center bg-gray-100 text-gray-600 bottom-0">
  <div class="text-center p-6 bg-gray-200 text-sm"><div>
      <div style="box-sizing: border-box;margin: auto !important; text-align: -webkit-center;">
        <a routerLink="/home">
          <img
            src="assets/riem/logo.svg"
            alt=""
            srcset=""
            class="m-auto  w-56 h-14"
          />
        </a>
      </div>
    </div>
    <p>
      <a class="hover:text-blue-400" routerLink="/impressum">Impressum</a> | <a
        class="hover:text-blue-400"
        routerLink="/datenschutz"
        >Datenschutz</a
      >
    </p>
    <span>All rights reserved: Riem-Apotheke © 2022 Copyright</span>
  </div>
</footer>
