<div class="lg:mb-0 zoom card relative">
  <div
    class="card-body relative block p-6 rounded-lg shadow-lg w-full"
  >
    <div class="items-center lg:flex flex-col">
      <div class="card-img" >
        <div class="discount-ico w-28 h-28 absolute bg-contain bg-no-repeat">
          <span class="discount">
            -{{ item.discount }}%
          </span>
        </div>

        <img
          src="{{ item.bild.url }}"
          alt="Trendy Pants and Shoes"
          class="rounded-md lg:mb-0 transition duration-100 ease-in-out w-full h-full cursor-pointer"
          data-tor="place.left place.top"
          (click)="selectProduct()"
        />
        <div class="ribbon red" *ngIf="item.type == 'exclusive'">
          <span>{{ item.type }}</span>
        </div>
      </div>
      <div class="w-full grow-0 shrink-0 basis-auto bottom-0">
        <h5
          style="
            font-family: 'Times New Roman', Times, serif;
            font-size: 1.5rem;
            line-height: 1.4rem;
          "
        >
          {{ item.name }}
        </h5>
        <p
          class="mb-4 text-gray-700 text-xl"
          style="font-family: 'Times New Roman', Times, serif"
        [innerHTML]="item.description"
          >

        </p>
        <ul class="flex justify-center mx-auto list-inside mt-8">
          <div class="px-2 lg:pl-0 price-item text-green-600">
            <label class="price-label" for="">Preis</label>
            <span
              >{{
                ((1 - item.discount / 100) * item.uvp)
                  | roundTo
                  | toLocalDE
              }}€</span
            >
          </div>
          <!-- <div class="px-2 lg:pl-0 price-item">
            <label class="price-label" for="">Rabatt</label>
            <span>{{ item.discount }}%</span>
          </div> -->
          <div class="px-2 lg:pl-0 price-item">
            <label class="price-label" for="">Uvp</label>
            <span style="text-decoration: line-through"
              >{{ item.uvp | toLocalDE }}€</span
            >
          </div>
        </ul>
        <ul class="flex justify-center mx-auto list-inside mt-8">
          <button
            (click)="increase()"
            style="margin-left: 47px"
            type="button"
            class="cart-btn trxansition duration-150 ease-in-out addCart inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-1"
          >
            +
          </button>
          <input
            type="text"
            [(ngModel)]="product_amount"
            id="product_amount"
            class="product-amount px-2 lg:pl-0"
            value="0"
            readonly
          />
          <button
            (click)="decrease()"
            type="button"
            class="cart-btn transition duration-150 ease-in-out removeCart inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-1"
          >
            -
          </button>
          <mat-icon
            (click)="addCart()"
            class="ml-7 text-3xl cursor-pointer text-blue-600 hover:text-green-500"
            >add_shopping_cart</mat-icon
          >
        </ul>
      </div>
    </div>
  </div>
</div>
